@media (max-width: 1190px){
    
    body{
        text-align: center;
    }
    main{
        margin-top: 4rem;
        width: 390px;
        display: flex;
        margin: 4rem auto auto auto;
    }

}